---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Aina Pascual | Curriculum`,
  description: `Página con curriculum.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>

    <p>
      Licenciada en Derecho por la Universidad Central de Barcelona en el año <span class="highlighted-text">1987</span>. 
    </p>

    <p>
      Los primeros años de profesión, trabajé cómo pasante en el despacho del abogado civilista Francisco Pou Serradell.
      Posteriormente, trabajé cómo asociada en un despacho profesiónal especializado en el ámbito del 
      <span class="highlighted-text">Derecho Civil y Mercantil</span> junto a Luís Sala Torregosa y Miguel Rosa y Sala. 
    </p>

    <p>
      Cinco años después, en <span class="highlighted-text">1992</span>, abrí <span class="highlighted-text">un despacho profesional</span>
      en Ciutadella de Menorca, dedicado exclusivamente al ámbito civil en territorio de las <span class="highlighted-text">Islas Baleares</span>.
    </p>

    <p>
      Han pasado <span class="highlighted-text">más de 35 años</span> desde que empecé a ejercer la abogacia y estoy satisfecha de haber podido 
      <span class="highlighted-text">ayudar a cientos de personas, empresas y entidades a resolver sus problemas legales</span>.
      Durante este viaje he tenido la oportunidad de trabajar en diversos ámbitos del derecho civil, siendo las principales ramas de
      especialidad la <span class="highlighted-text">Responsabilidad Civil</span>, 
      <span class="highlighted-text">Derecho Sucesorio</span>, <span class="highlighted-text">Derecho Contractual y de Obligaciones</span> y 
      <span class="highlighted-text">Propiedades y Derechos Reales</span>.
    </p>

    <p>
      Además de formarme a partir de la experiencia del ejercicio de la abogacía, he optado por seguir formandome de manera activa.
      Cómo miembro de la Sociedad Española de Abogados de Responsabilidad Civil y Seguro y del Colegio de Abogados de las Islas Baleares,
      he asistido a conferencias y seminarios especializados en responsabilidad civil. En 2020, ya con una amplia experiencia en el 
      ejercicio de la abogacía, decidí cursar un <span class="highlighted-text">Máster en Derecho de Responsabilidad por daños y prejuicios</span> 
      en la Universidad de Granada.
    </p>

  </TextSection>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1.5rem;
  }

  .bold-text {
    font-weight: bold;
  }
  .highlighted-text {
    color: var(--theme-primary);
    font-weight: bold;
  }

</style>