---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Aina Pascual | Curriculum`,
  description: `Página con curriculum.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>

    <p>
      Licenciada en Derecho por la Universidad Central de Barcelona en el año <span class="highlighted-text">1987</span>. 
    </p>

    <p>
      Los primeros años de profesión, trabajé cómo pasante en el <span class="highlighted-text">despacho del abogado civilista Ramón F. Pou Serradell</span>.
      Posteriormente, me incorporé cómo <span class="highlighted-text">letrada asociada</span> a un despacho profesional especializado en el ámbito civil y
      mercantil, donde colaboré con los abogados <span class="highlighted-text">Luís Sala Torregassa</span>, <span class="highlighted-text">Miguel Ros Aixalà</span>
       y <span class="highlighted-text">Elsa Droguet Rafel</span>. 
    </p>

    <p>
      En <span class="highlighted-text">1992</span>, establecí mi despacho profesional en <span class="highlighted-text"> Ciutadella de Menorca</span>, dedicado 
      exclusivamente al ámbito civil en el territorio de las <span class="highlighted-text">Islas Baleares</span>.
    </p>

    <p>
      Han pasado <span class="highlighted-text">más de 35 años</span> desde que empecé a ejercer la abogacia y me siento satisfecha de haber podido 
      <span class="highlighted-text">ayudar a cientos de personas, empresas y entidades a resolver sus problemas legales</span>.
      Durante este viaje he tenido la oportunidad de trabajar en diversos ámbitos del derecho civil, siendo las principales ramas de
      especialidad la <span class="highlighted-text">Propiedad y Derechos Reales</span>, el <span class="highlighted-text">Derecho Contractual y de Obligaciones</span>,
      el <span class="highlighted-text">Derecho de Daños</span>, el <span class="highlighted-text">Derecho Sucesorio</span>,  
      y el <span class="highlighted-text">Derecho de Familia</span>.
    </p>

    <p>
      Además de formarme a partir de la experiencia del ejercicio de la abogacía, he intentado <span class="highlighted-text">mantener una formación continua y actualizada</span>.
      Cómo miembro de la Sociedad Española de Abogados Especializados en Responsabilidad Civil y Seguro y del Ilustre Colegio de Abogados de las Islas Baleares,
      he <span class="highlighted-text">asistido a conferencias y seminarios, especializados principalmente derecho de la responsabilidad civil y de daños</span>. 
      En 2020, ya con una amplia experiencia en el ejercicio de la abogacía, decidí cursar un <span class="highlighted-text">Máster en Responsabilidad Civil</span> 
      en la Universidad de Granada.
    </p>

    <p>
      Actualmente estoy ilusionada en <span class="highlighted-text">proceso de cambio de despacho profesional</span>, habiendo adecuado un amplio local en la misma Ciutadella, 
      <span class="highlighted-text">calle Gabriel Martí Bella 19</span>, al que esperamos mudarnos en el año 2025.
    </p>

  </TextSection>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 1.75;
    margin-bottom: 1.5rem;
  }
  .bold-text {
    font-weight: bold;
  }
  .highlighted-text {
    color: var(--theme-primary);
    font-weight: bold;
  }
	@media (max-width: 768px) {
	  p {
      font-size: 0.9rem;
	  }
	}
</style>