---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Reserva Cita</h1>
				<p>
                    Puedes contactar con el despacho para reservar cita a través de nuestro número de teléfono o
                    correo electrónico.
                    <br></br>
                    Llamanos de lunes a viernes de 9:00 a 13:00.
                    <br></br>
                    <em> Teléfono: <a href="tel:34971480375">(+34) 971 480 375</a></em>
                    <br></br>
                    Alternativamente, puedes escribirnos un correo electrónico <em> rellenando el siguiente formulario
					de contacto. </em>
				</p>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: 120px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
