---

import { Icon } from "astro-icon/components";
import ContentSection from "../sections/FeatureContentSection.astro";

import type { FeatureItem } from "../../types";

const features: Array<FeatureItem> = [
  {
    title: "Responsabilidad Civil",
    description:
      "Regulación de compensaciones a personas o entidades que han sufrido daños o perjuicios debido a las acciones o falta de diligencia de otras.",
    icon: "mdi:handshake",
    link: "/landing-pages/derecho-civil",
  },
  {
    title: "Derecho Contractual y Obligaciones",
    description:
      "Regulación de los acuerdos y compromisos asumidos entre personas, empresas y otras entidades.",
    icon: "mdi:contract",
    link: "/landing-pages/derecho-contratos",
  },
  {
    title: "Propiedad y Derecho Real",
    description:
      "Regulación de las relaciones jurídicas entre personas y bienes, estableciendo quién tiene derechos sobre ellos y en qué medida.",
    icon: "mdi:account-lock",
    link: "/landing-pages/derecho-real",
  },
  {
    title: "Derecho Sucesorio",
    description:
      "Regulación de la sucesión mortis causa de las titularidades y relaciones jurídicas, tanto activas como pasivas, de una persona.",
    icon: "mdi:home-group",
    link: "/landing-pages/derecho-sucesorio",
  },
];

---

<ContentSection title="Areas de especialidad" id="features">
  <ul class="grid max-w-3xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mx-auto gap-6">
    {features.map(({ title, description, icon, link }) => (
      <li class="flex flex-col items-center text-center bg-offset p-4 md:p-8 rounded-lg shadow-lg">
        <div class="size-12 md:size-14 lg:size-16 flex items-center justify-center rounded-full border-2 border-current p-3 md:p-4">
          <Icon name={icon} class="size-full" />
        </div>
        <h3>
          <a href={link} class="font-extrabold text-base md:text-lg lg:text-lg hover:underline">
            {title}
          </a>
        </h3>
        <p class="text-sm md:text-md text-center text-offset">
          {description}
        </p>
      </li>
    ))}
  </ul>
</ContentSection>

<style>
p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  letter-spacing: 0.5px; /* Optional */
  font-size: var(--font-size-base);
}

@media (max-width: 600px) {
  p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    letter-spacing: 0.5px; /* Optional */
    font-size: var(--font-size-sm);
  }
}

</style>