---

import { Icon } from "astro-icon/components";
import ContentSection from "../sections/FeatureContentSection.astro";

import type { FeatureItem } from "../../types";

const features: Array<FeatureItem> = [
  {
    title: "Derecho de Daños",
    description:
      ["Asesoramiento y dirección jurídica de la reclamación de compensación por los daños" +
      " padecidos como consecuencia de acciones negligentes de otras personas o entidades," +
      " como accidentes de tráfico, caídas, daños en inmuebles por obras colindantes," +
      " inundaciones, incendios, etc."],
    icon: "mdi:handshake",
    link: "/landing-pages/derecho-civil",
  },
  {
    title: "Obligaciones y Contratos",
    description:
      ["Confección de contratos y convenios dirigidos a la regulación de las relaciones privadas" +
      " entre personas físicas y/o jurídicas, en los diversos ámbitos del derecho civil, incluyendo" +
      " compraventas, arrendamientos, préstamo, hipoteca, entre otros.",
      "Asesoramiento y dirección jurídica de la resolución de la problemática relacionada por" +
      " el cumplimiento defectuoso o incumplimiento de las obligaciones y contratos en los diversos" +
      " ámbitos del derecho civil, incluyendo la vía judicial."],
    icon: "mdi:contract",
    link: "/landing-pages/derecho-contratos",
  },
  {
    title: "Propiedad y Derechos Reales",
    description:
      ["Análisis, asesoramiento y dirección jurídica de la resolución de la problemática relacionada con la adquisición, transmisión y/o extinción de propiedad o derechos reales sobre bienes muebles o inmuebles, en via extrajudicial y, si es preciso, en la vía judicial."],
    icon: "mdi:account-lock",
    link: "/landing-pages/derecho-real",
  },
  {
    title: "Derecho Sucesorio",
    description:
      ["Asesoramiento en el proceso de partición de una herencia, en la vía extrajudicial y, si es preciso, dirección jurídica en la vía judicial para la resolución de la problemática suscitada."],
    icon: "mdi:home-group",
    link: "/landing-pages/derecho-sucesorio",
  },
  {
  title: "Derecho Familiar",
    description:
      ["Asesoramiento en relación a las relaciones personales y patrimoniales de los miembros que integran la familia. Dirección jurídica del proceso de resolución de la problemática en la vía extrajudicial y, si es preciso, en la vía judicial, priorizando las soluciones consensuadas."],
    icon: "mdi:crowd",
    link: "/landing-pages/derecho-sucesorio",
  },
];

---

<ContentSection title="Areas de especialidad" id="features">
  <ul class="grid max-w-5xl grid-cols-1 mx-auto gap-8">
    <li class="flex flex-col md:flex-row items-center md:items-center text-left bg-offset p-6 md:p-10 rounded-lg shadow-lg transform transition-transform hover:scale-105">
      {/* Left side: Icon and Title */}
      <div class="flex flex-col items-center justify-center flex-[1]">
        <div class="size-16 md:size-18 lg:size-20 flex items-center justify-center rounded-full border-2 border-current p-3">
          <Icon name="mdi:handshake" class="size-full" />
        </div>
        <h3 class="mt-4 text-center font-extrabold text-lg md:text-xl lg:text-2xl">
          Derecho de Daños
        </h3>
      </div>
      {/* Right side: Description */}
      <div class="flex-[2] md:ml-6">
        <p>
          Asesoramiento y dirección jurídica de la <span class="h-text">reclamación de compensación por los daños padecidos como consecuencia de acciones negligentes de otras personas o entidades</span>, como accidentes de tráfico, caídas, daños en inmuebles por obras colindantes, inundaciones, incendios, etc.
        </p>
      </div>
    </li>

    <li class="flex flex-col md:flex-row items-center md:items-center text-left bg-offset p-6 md:p-10 rounded-lg shadow-lg transform transition-transform hover:scale-105">
      {/* Left side: Icon and Title */}
      <div class="flex flex-col items-center justify-center flex-[1]">
        <div class="size-16 md:size-18 lg:size-20 flex items-center justify-center rounded-full border-2 border-current p-3">
          <Icon name="mdi:contract" class="size-full" />
        </div>
        <h3 class="mt-4 text-center font-extrabold text-lg md:text-xl lg:text-2xl">
          Obligaciones y Contratos
        </h3>
      </div>
      {/* Right side: Description */}
      <div class="flex-[2] md:ml-6">
        <p>
          Confección de <span class="h-text">contratos y convenios dirigidos a la regulación de las relaciones privadas entre personas físicas y/o jurídicas</span>, en los diversos ámbitos del derecho civil, incluyendo compraventas, arrendamientos, préstamo, hipoteca, entre otros.
        </p>
        <p>
          Asesoramiento y dirección jurídica de la resolución de la problemática relacionada por el <span class="h-text">cumplimiento defectuoso o incumplimiento de las obligaciones y contratos</span> en los diversos ámbitos del derecho civil, incluyendo la vía judicial.
        </p>
      </div>
    </li>

    <li class="flex flex-col md:flex-row items-center md:items-center text-left bg-offset p-6 md:p-10 rounded-lg shadow-lg transform transition-transform hover:scale-105">
      {/* Left side: Icon and Title */}
      <div class="flex flex-col items-center justify-center flex-[1]">
        <div class="size-16 md:size-18 lg:size-20 flex items-center justify-center rounded-full border-2 border-current p-3">
          <Icon name="mdi:account-lock" class="size-full" />
        </div>
        <h3 class="mt-4 text-center font-extrabold text-lg md:text-xl lg:text-2xl">
          Propiedad y Derechos Reales
        </h3>
      </div>
      {/* Right side: Description */}
      <div class="flex-[2] md:ml-6">
        <p>
          Análisis, asesoramiento y dirección jurídica de la resolución de la problemática relacionada con la <span class="h-text">adquisición, transmisión y/o extinción de propiedad o derechos reales sobre bienes muebles o inmuebles</span>, en vía extrajudicial y, si es preciso, en la vía judicial.
        </p>
      </div>
    </li>

    <li class="flex flex-col md:flex-row items-center md:items-center text-left bg-offset p-6 md:p-10 rounded-lg shadow-lg transform transition-transform hover:scale-105">
      {/* Left side: Icon and Title */}
      <div class="flex flex-col items-center justify-center flex-[1]">
        <div class="size-16 md:size-18 lg:size-20 flex items-center justify-center rounded-full border-2 border-current p-3">
          <Icon name="mdi:home-group" class="size-full" />
        </div>
        <h3 class="mt-4 text-center font-extrabold text-lg md:text-xl lg:text-2xl">
          Derecho Sucesorio
        </h3>
      </div>
      {/* Right side: Description */}
      <div class="flex-[2] md:ml-6">
        <p>
          Asesoramiento en el <span class="h-text">proceso de partición de una herencia</span>, en la vía extrajudicial y, si es preciso, dirección jurídica en la vía judicial para la resolución de la problemática suscitada.
        </p>
      </div>
    </li>

    <li class="flex flex-col md:flex-row items-center md:items-center text-left bg-offset p-6 md:p-10 rounded-lg shadow-lg transform transition-transform hover:scale-105">
      {/* Left side: Icon and Title */}
      <div class="flex flex-col items-center justify-center flex-[1]">
        <div class="size-16 md:size-18 lg:size-20 flex items-center justify-center rounded-full border-2 border-current p-3">
          <Icon name="mdi:crowd" class="size-full" />
        </div>
        <h3 class="mt-4 text-center font-extrabold text-lg md:text-xl lg:text-2xl">
          Derecho Familiar
        </h3>
      </div>
      {/* Right side: Description */}
      <div class="flex-[2] md:ml-6">
        <p>
          Asesoramiento en relación a las <span class="h-text">relaciones personales y patrimoniales de los miembros que integran la familia</span>. Dirección jurídica del proceso de resolución de la problemática en la vía extrajudicial y, si es preciso, en la vía judicial, priorizando las soluciones consensuadas.
        </p>
      </div>
    </li>
  </ul>
</ContentSection>


<style>
p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  letter-spacing: 0.5px;
  font-size: var(--font-size-base);
}

li {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

li:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.h-text {
  color: var(--theme-primary);
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 768px) {
  li {
    flex-direction: row;
  }
}

.size-14 {
  width: 3.5rem;
  height: 3.5rem;
}

.size-16 {
  width: 4rem;
  height: 4rem;
}
</style>