---
// Stats.astro
const { stats = [], id, classes = {} } = Astro.props;
---

<div class="stats-wrapper">
    {stats.map(({ amount, title, icon }) => (
    <div 
    class="stat-item p-4 text-center md:w-1/4 sm:w-1/2 w-full min-w-[300px] md:border-r md:last:border-none"
    style="border-color: var(--theme-on-bg); border-right-width: 3px;"
    >
 
        {amount && (
        <h2 class="font-heading lg:text-3xl xl:text-3xl text-[2.6rem] font-bold" style="color: var(--theme-primary)">
            {amount}
        </h2>
        )}
        {title && (
        <div class="text-sm font-medium uppercase tracking-widest lg:text-base">
            {title}
        </div>
        )}

    </div>
    ))}
</div>


<style>
    .stats-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap; /* Allows wrapping on smaller screens if needed */
        gap: 1rem; /* Adds spacing between stats */
    }

    /* Individual stat item styling */
    .stats-wrapper > div {
        flex: 1 1 45%; /* Each item takes up about half the width, but can shrink */
        text-align: center;
        justify-content: center;
        text-justify: inter-word;
        hyphens: auto;
        min-width: 150px; /* Ensures a minimum width */
        padding: 1rem;
        border-right: 3px solid var(--theme-on-bg); /* Initial border size */
    }

    /* Remove the border from the last item */
    .stats-wrapper > div:last-child {
        border-right: none;
    }

    /* Adjustments for medium screens */
    @media (max-width: 768px) {
        .stat-item {
            border: none;
            padding: 0.75rem; /* Less padding */
            gap: 0.5rem;
            max-width: 8rem;
        }
}

    /* Adjustments for small screens */
    @media (max-width: 600px) {
        .stats-wrapper > div {
            flex: 1 1 45%; /* Each item still takes about half the width */
            border: none;
            padding: 0.15rem; /* Smaller padding for compact display */
            text-align: center;
            justify-content: center;
            text-justify: inter-word;
            hyphens: auto;
        }
    }

</style>