---
const { stats = [], id, classes = {} } = Astro.props;
---

<div class="stats-wrapper">
    {stats.map(({ amount, title, icon }) => (
    <div 
    class="stat-item"
    >
        {amount && (
        <h2 class="stat-amount">
            {amount}
        </h2>
        )}
        {title && (
        <div class="stat-title">
            {title}
        </div>
        )}
    </div>
    ))}
</div>

<style>
    .stats-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .stat-item {
        flex: 1 1 45%;
        text-align: center;
        justify-content: center;
        text-justify: inter-word;
        min-width: 300px;
        padding: 1rem;
        border-right: 3px solid var(--theme-on-bg);
    }

    .stat-item:last-child {
        border-right: none;
    }

    .stat-amount {
        color: var(--theme-primary);
        font-size: 2.6rem;
        font-weight: bold;
    }

    .stat-title {
        font-size: 1rem; /* text-sm */
        font-weight: 500; /* font-medium */
        text-transform: uppercase;
        letter-spacing: 0.1em; /* tracking-widest */
    }

    /* Responsive styles for medium screens */
    @media (max-width: 1380px) {
        .stat-item {
            border: none;
            min-width: auto;
        }
    }
    @media (max-width: 1050px) {
        .stat-item {
            gap: 0.5rem;
            max-width: 8rem;
            min-width: auto;
        }

        .stat-amount {
            font-size: 2rem;
        }

        .stat-title {
            font-size: 0.875rem;
        }
    }

    /* Responsive styles for small screens */
    @media (max-width: 750px) {
        .stat-item {
            border: none;
            flex: 1 1 45%;
            text-align: center;
            justify-content: center;
            text-justify: inter-word;
            hyphens: auto;
            min-width: auto;
            padding: 0.20rem;
        }

        .stat-amount {
            font-size: 1.75rem;
        }

        .stat-title {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 400px) {
        .stat-item {
            flex: 1 1 45%;
            border: none;
            padding: 0.15rem;
            min-width: auto;
        }

        .stat-amount {
            font-size: 1.75rem;
        }

        .stat-title {
            font-size: 0.675rem;
        }
    }
</style>