---
import Container from '../core/Container.astro';

const {narrow} = Astro.props;
---

<Container narrow={narrow}>
  <section class="text__section">
    <slot></slot>
  </section>
</Container>

<style>
  .text__section {
    margin: var(--section-margin) 0;
    max-width: 900px; /* Set the max-width for the text */
    text-align: left;
    padding-right: 20px; /* Adjust padding for the right side */
    padding-left: 0px; /* Optional: padding for the left side */
  }
</style>

