---
import Container from '../core/Container.astro';

const {narrow} = Astro.props;
---

<Container narrow={narrow}>
  <section class="text__section">
    <slot></slot>
  </section>
</Container>

<style>
  .text__section {
    margin: 120px auto;
    max-width: 1000px; /* Set the max-width for the text */
    justify-self: left;
    text-align: justify;
    padding-right: 20px; /* Adjust padding for the right side */
    padding-left: 0px; /* Optional: padding for the left side */
  }
	@media (max-width: 768px) {
    .text__section {
      margin: 90px auto;
      margin-bottom: 50px;
	  }
	}
</style>

