---
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
  title: 'Aina Pascual | Despacho',
  description: 'Aina Pascual Mir · Abogada · Despacho',
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container" class="text-container">
      <h2 class="text-container-title">Dónde encontrarnos</h2>
      <h4>
        Despacho ubicado en Ciutadella de Menorca, en el <a class="highlighted-text" href="https://maps.app.goo.gl/AoSffsogciuF7u218"> <u>número 20 de la calle Mallorca</u></a><br><br>
        Estamos abiertos al público de <span class="highlighted-text"> lunes a viernes de 9:00 a 13:00</span> y por la tarde para citas concertadas<br><br>
        Para reservar cita pulsa <a class="highlighted-text" href="/company/contact"> <u>aquí</u></a>.
      </h4>
    </div>
    <picture slot="image-container" class="hero-image">
      <img
        src="/assets/images/home/office-wip.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
      <span class="hero-img-span">Estamos creando un nuevo espacio, en 2025 nos mudamos!</span>
    </picture>
    <div slot="image-container" class="hero-image-mobile">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9137.69360203076!2d3.834541340159084!3d39.99966155792951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be03f7975bdcb3%3A0x626b40ff83c10460!2sCarrer%20de%20Mallorca%2C%2020%2C%2007760%20Ciutadella%20de%20Menorca%2C%20Illes%20Balears!5e0!3m2!1ses!2ses!4v1730044818023!5m2!1ses!2ses"
        width="320"
        height="320"
        style="border:0; border-radius: 8px;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </HeroSection>
</Layout>

<style>
  :global(body) {
      display: flex;
      flex-direction: column;
  }
  .text-container {
      margin: 80px auto; /* Reduced margin */
      max-width: 600px; /* Limit the width of the text */
      margin-right: 1.5rem; /* Reduced margin */
      width: 100%; /* Ensure full width */
  }

  .main-text {
      font-weight: bold; /* Optional: make the text bold */
  }

  .highlighted-text {
      color: var(--theme-primary);
      font-weight: bold; /* Optional: make the text bold */
  }

  .reserve-link:hover {
      text-decoration: underline;
      cursor: pointer;
  }

  .hero-image {
    display: block;
    width: 70%;
    height: 65%;
    margin: 4rem auto; /* Centered with some margin */
  }

  .hero-img-span {
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-sm);
    margin: 1rem auto;
  }

  .hero-image-mobile {
      display: none;
  }

  .hero-image-mobile iframe {
      width: 100%;
      max-width: 320px; /* Maintain max width */
      border-radius: 8px;
      margin: 0 auto; /* Center the iframe */
  }

  @media (max-width: 1000px) {
    .text-container-title {
      font-size: 2.5rem;
    }
    .hero-image {
        display: none;
    }
    .hero-image-mobile {
      display: block;
      max-width: 500px;
      max-height: 200px;
      margin: 0 auto;
    }
    .text-container {
      margin: 40px auto;
      padding: 0 1rem; /* Add some horizontal padding */
    }
  @media (max-width: 769px) {
    .hero-image-mobile {
      margin: 0 auto 10rem;
    }
  }
  }
</style>