---
import { Container } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import Features from "../components/cards/FeatureItem.astro";
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section id="areas-especialidad" class="feature-card__section">
			<div class="space-y-24 px-8 py-26 pt-20">
				<Features />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
