---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
  title: `Aina Pascual | Curriculum`,
  description: `Aina Pascual Mir · Abogada · Trayectoria profesional.`,
};
---

<Layout seo={seo}>
  
  <TextSection narrow>
    <h2 class="title">Trayectoria profesional</h2>

    <p>
      Licenciada en Derecho por la Universidad Central de Barcelona en el año <span class="highlighted-text">1987</span>. 
    </p>

    <p>
      Los primeros años de profesión, trabajé cómo pasante en el <span class="highlighted-text">despacho del abogado civilista Ramón F. Pou Serradell</span>,
      en Barcelona. Posteriormente, me incorporé cómo <span class="highlighted-text">letrada asociada</span> a un despacho profesional especializado en el ámbito civil y
      mercantil, donde colaboré con los abogados <span class="highlighted-text">Luís Sala Torregassa</span> y <span class="highlighted-text">Elsa Droguet Rafel</span>, 
      también en Barcelona. 
    </p>

    <p>
      En <span class="highlighted-text">1992</span> establecí mi propio bufete en <span class="highlighted-text"> Ciutadella de Menorca</span>, dedicado 
      exclusivamente al ámbito civil.
    </p>

    <p>
      Han pasado <span class="highlighted-text">más de 35 años</span> desde que empecé a ejercer la abogacia y me siento satisfecha de haber
      defendido los intereses de cientos de personas físicas y entidades en procedimientos judiciales, principalmente en el territorio de las
      Islas Baleares. Durante este viaje he tenido la oportunidad de trabajar en diversos ámbitos del derecho civil, especialmente en
      <span class="highlighted-text">Propiedad y Derechos Reales</span>, <span class="highlighted-text">Derecho Contractual y de Obligaciones</span>, 
      <span class="highlighted-text">Derecho de Daños</span>, <span class="highlighted-text">Derecho Sucesorio</span>,  
      y <span class="highlighted-text">Derecho de Familia</span>.
    </p>

    <p>
      Además de formarme a partir de la experiencia del ejercicio de la abogacía, he intentado <span class="highlighted-text">mantener una formación continua y actualizada</span>.
      Cómo miembro de la Sociedad Española de Abogados Especializados en Responsabilidad Civil y Seguro y del Ilustre Colegio de Abogados de las Islas Baleares,
      he asistido a conferencias y seminarios, dedicados mayormente al derecho de la responsabilidad civil y de daños. 
      En 2020, ya con una amplia experiencia en el ejercicio de la abogacía, cursé un <span class="highlighted-text">Máster en Responsabilidad Civil</span> 
      en la Universidad de Granada.
    </p>

    <p>
      Actualmente estoy ilusionada en proceso de cambio de despacho profesional, habiendo adecuado un amplio local en la misma Ciutadella, 
      calle Gabriel Martí Bella 19, al que esperamos mudarnos este año 2025.
    </p>

  </TextSection>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 1.75;
    margin-bottom: 1.5rem;
    hyphens: auto;
  }
  .title {
    margin-top:3rem;
    margin-bottom: 2.5rem;
  }
  .bold-text {
    font-weight: bold;
  }
  .highlighted-text {
    color: var(--theme-primary);
    font-weight: bold;
  }
	@media (max-width: 768px) {
	  p {
      font-size: 0.9rem;
	  }
	}
</style>