---
import { CustomerQuoteSection, StickyTextImageSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';
import TextSection from '../../components/sections/TextSection.astro'

const seo = {
	title: 'Aina Pascual | Derecho Real',
	description: 'Aina Pascual | Derecho Real',
};
---

<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Derecho Real</h1>
			<em>
		    	Regula las relaciones jurídicas entre las personas y los bienes, estableciendo quién 
				tiene derechos sobre ellos y en qué medida. Este derecho se centra en los bienes, ya 
				sean muebles o inmuebles, y en las facultades que las personas pueden ejercer sobre 
				ellos, como posesión, uso, disfrute o disposición.
	        </em>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/areas_especialidad/derecho-real.jpg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</TextAndImageHero>

	<TextSection>

		<h2>Principales procedimientos</h2>
		<h3>Constitución de derechos reales</h3>
		<p>
			Para que los derechos reales como la propiedad, la servidumbre o el usufructo sean 
			reconocidos legalmente, deben constituirse conforme a las formalidades legales, como 
			la inscripción en el Registro de la Propiedad.
		</p>
		<h3>Reivindicación de la propiedad</h3>
		<p>
			Cuando alguien se apropia indebidamente de un bien ajeno, el propietario puede iniciar 
			un procedimiento de reivindicación para recuperar el bien. Este procedimiento busca 
			la devolución del bien y la restauración del derecho del propietario. 
		</p>
		<h3>Deslinde y amojonamiento</h3>
		<p>
			El procedimiento de deslinde y amojonamiento se realiza cuando existen conflictos sobre 
			los límites de una propiedad. Este proceso permite establecer la línea de separación entre 
			propiedades vecinas para evitar disputas futuras. 
		</p>
		<h3>Servidumbres y derechos de paso</h3>
		<p>
			Las servidumbres son derechos que se establecen sobre una propiedad en favor de otra, como 
			el derecho de paso. Estos derechos deben establecerse formalmente y, en caso de disputas o 
			necesidad de modificación, es posible recurrir a un procedimiento judicial. Un abogado puede 
			ayudar a crear, modificar o resolver conflictos relacionados con las servidumbres, asegurando 
			el cumplimiento de la ley y la equidad entre las partes.
		</p>

	</TextSection>

</Layout>
