---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';


const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<Layout {seo}>
	<HeroSection reversed>
		<div slot="text-container">
			<h1>Derecho de Familia</h1>
			<p>Descripción de experiencia en derecho de familia.</p>
		</div>
	</HeroSection>

	<CustomerQuoteSection
		quoteText="El derecho de familia tiene como objetivo principal la protección de los derechos y el bienestar de todos los miembros de la familia, especialmente de los más vulnerables, como los niños y los ancianos."
	/>


	<StickyTextImageSection>
		<div slot="text-container">
		    <h2>Principales procedimientos</h2>
			<h3>Divorcio y separación</h3>
			<p>
                Proceso de disolución del matrimonio.
			</p>
			<h3>División de bienes</h3>
			<p>
				Ej 1.
			</p>
			<h3>Custodía de los hijos</h3>
			<p>
				Ej 1.
			</p>
			<h3>Pensión alimenticia</h3>
			<p>
				Ej 1.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-sticky.jpg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

</Layout>
