---
import { Button, FormInput, FormTextarea, FormSelect } from '@components/odyssey-theme';

const apiKey = import.meta.env.WEB3FORMS_API_KEY;

const selectOptions = [
  "Derecho Real",
  "Derecho sucesorio",
  "Derecho de contratos y obligaciones",
  "Responsabilidad civil",
]
---

<form name="Formulario de contacto" method="POST" id="form">
  <input type="hidden" name="access_key" value=[apiKey]>
  <input type="hidden" name="subject" value="Nuevo mensaje de la web!">
  
  <!-- Form inputs with labels for demonstration -->
  <label for="name-input">Nombre completo</label>
  <input type="text" name="name" id="name-input" placeholder="Nombre Apellido" required />
  
  <label for="phone-input">Teléfono de contacto</label>
  <input type="text" name="phone" id="phone-input" placeholder="651375623" required />
  
  <label for="email-input">Correo electrónico</label>
  <input type="email" name="email" id="email-input" placeholder="nombre@gmail.com" required />
  
  <label for="theme-select">Tema de la consulta</label>
  <select name="theme" id="theme-select" required>
    <option value="" disabled selected>Seleccionar el tema</option>
    <option value="Derecho Real">Derecho Real</option>
    <option value="Derecho sucesorio">Derecho sucesorio</option>
    <option value="Derecho de contratos y obligaciones">Derecho de contratos y obligaciones</option>
    <option value="Responsabilidad civil">Responsabilidad civil</option>
  </select>
  
  <label for="message-textarea">Información complementaria sobre la consulta</label>
  <textarea name="message" id="message-textarea" placeholder="Danos algunos detalles sobre tu consulta..." required></textarea>

  <Button type="submit" id="submit-btn">
    <b>Enviar correo</b>
  </Button>

  <section class="contact-hero__section hidden" id="result-section">
    <div class="contact-hero__text-section" id="text-section">
      <h3 id="result" class="result-message"></h3>
    </div>
  </section>
</form>

<script is:inline>
  const form = document.getElementById('form');
  const resultDiv = document.getElementById('result');
  const resultSection = document.getElementById('result-section');
  const textSection = document.getElementById('text-section');
  const nameErrorMessage = document.getElementById('name-error-message');
  const phoneErrorMessage = document.getElementById('phone-error-message');
  const messageErrorMessage = document.getElementById('message-error-message');

form.addEventListener('submit', function(e) {
  e.preventDefault();
  const formData = new FormData(form);

  textSection.classList.remove('error');
  nameErrorMessage.classList.remove('visible');
  nameErrorMessage.textContent = '';
  phoneErrorMessage.classList.remove('visible');
  phoneErrorMessage.textContent = '';
  messageErrorMessage.classList.remove('visible');
  messageErrorMessage.textContent = '';
  let isValid = true;
  const name = formData.get('name');
  if (typeof name !== 'string' || name.split(' ').length < 2) {
  // Display error under the name field
    nameErrorMessage.textContent = "Por favor, ingrese un nombre y apellido.";
    nameErrorMessage.classList.add('visible');
    isValid = false;
  }

  const phone = formData.get('phone');
  if (phone.length !== 9 || !/^\d+$/.test(phone)) {
    phoneErrorMessage.textContent = "Por favor, ingrese un número de teléfono de 9 dígitos sin extensión, por ejemplo 651375821.";
    phoneErrorMessage.classList.add('visible');
    isValid = false;
  }

  const message = formData.get('message');
  console.log(message.length);
  if (message.length < 50) {
    messageErrorMessage.textContent = `Por favor, denos más detalles sobre el motivo de consulta, ahora ha introducido ${message.length} caracteres (Mínimo 50 caracteres, equivalente a un par de líneas).`;
    messageErrorMessage.classList.add('visible');
    isValid = false;
  } else if (message.length > 500) {
    messageErrorMessage.textContent = `Por favor, intente ser más conciso, ha introducido ${message.length} caracteres (Máximo 500 caracteres).`;
    messageErrorMessage.classList.add('visible');
    isValid = false;
  }

  if(!isValid) {
    resultSection.classList.remove('hidden');
    textSection.classList.add('error');
    resultDiv.textContent = "Error al enviar el formulario. Por favor, revise los campos introducidos.";
    resultDiv.className = "result-message error";
  } else {
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    // Show loading state
    resultDiv.textContent = "Enviando formulario de contacto..."
    resultDiv.className = "result-message loading";
    resultSection.classList.remove('hidden');

    fetch('https://api.web3forms.com/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body: json
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          resultDiv.innerHTML = `
              <p>¡Correo enviado con éxito!</p>
              <p>Nos pondremos en contacto contigo lo antes posible.</p>
            `;
          resultDiv.className = "result-message success";
        } else {
          console.log(json.message)
          resultDiv.textContent = "Algo ha ido mal, mientras lo solucionamos puedes llamar directamente al (+34) 971 480 375 para reservar cita";
          resultDiv.className = "result-message error";
        }
      })
      .catch(error => {
        console.log(error);
      })
      .then(function() {
        form.reset();
      });
  }
});
</script>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }  
  form label {
    font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-base);
  }

  /* Input and Textarea styling for boxed effect */
  input[type="text"],
  input[type="email"],  
  select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0.75rem;
    padding-right: 2.5rem; /* Extra space for custom arrow */
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
  }
  textarea {
    width: 100%;
    min-height: 200px;
    padding: 0.75rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: var(--font-size-base);
    box-sizing: border-box;
  }

  .contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 10fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
  .contact-hero__section.hidden {
    display: none; /* Initially hide this section */
  }
  .contact-hero__text-section.error {
		background-color: var(--theme-error-bg);
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
  .error-message {
  color: #d90f0f;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  visibility: hidden; /* Hidden by default */
  }
  .error-message.visible {
    visibility: visible;
  }
  .result-message {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--theme-on-surface-1);
  }

  .result-message.loading {
    color: var(--theme-on-surface-1);
  }

  .result-message.success {
    color: var(--theme-on-surface-1);
  }

  .result-message.error {
    color: var(--theme-on-primary);
  }
</style>