---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';
---

<form name="Formulario de contacto" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Nombre completo" placeholder="Nombre Apellido" />
  <FormInput type="email" label="Email" name="Correo electrónico" placeholder="nombre@gmail.com" />
  <FormTextarea label="Message" name="Motivo de la visita" placeholder="Danós algunos detalles sobre tu consulta para que te podamos ayudar mejor..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>