---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';
---

<form name="Formulario de contacto" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Nombre completo" name="name" placeholder="Nombre Apellido" />
  <FormInput type="email" label="Correo electrónico" name="email" placeholder="nombre@gmail.com" />
  <FormTextarea label="Motivo de la visita" name="message" placeholder="Danos algunos detalles sobre tu consulta para que te podamos ayudar mejor..." />
  <Button>Enviar correo</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>